<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Shortner</title>
</head>
<body>


<div class="container">
    <h1>{{ title }}</h1>
    <form action="." method="POST">
        {% csrf_token %}
        <!--<div class="form-group">-->
          <!--<input type="text" class="form-control" id="url" placeholder="Shorten Your URL." name="url" required>-->
        <!--</div>-->
        {{ form.as_p }}

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>


</body>
</html>